@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.box {
    margin:5% 0%;
}
* {
    box-sizing: border-box;
}
.content {
    border-right:5px solid black;
    padding:5%;
}
.content h1 {
    font-weight: bold;
    text-align: center;
}
.questionAnswer {
    padding: 5%;
}
.questionAnswer h1 {
    text-align: center;
}
#QA li {
    display: none;
}
@media(max-width:768px) {
    .content {
        border-right: none;
        border-bottom: 5px solid black;
    }
}
@media(max-width:350px) {
    .questionAnswer h1 {
        font-size: 25px;
    }
    #QA, #index {
        padding: 0;
    }
}
#preloader img {
    width: 100%;
    height: 100vh;
    z-index: -1000;
}
.section {
    display: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
.grades {
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 3%;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}
.subjects {
    text-align: center;
    background-color: rgb(255,32,82);
    color: white;
    border-radius: 100px;
    padding: 1%;
}
.chapters {
    text-align: center;
    cursor: pointer;
}
.font {
    font-size: 20px;
}
@media(max-width:768px) {
    .font {
        font-size: 16px;
    }
}